@using X.PagedList
@using X.PagedList.Mvc.Core
@model IEnumerable<TallerMotos.Application.DTO.FacturaDTO>

@{

    Layout = "_Layout";
}

<h1>Facturas</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdusuarioNavigation)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdusuarioNavigation.Nombre)
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td> *@
                <td>
                    ₡@Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "btn btn-success" }) |
                    <a asp-controller="DetalleFactura" asp-action="IndexDetalle" asp-route-id="@item.ID" class="btn btn-info">Detalle</a> |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })

                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                <div class="btn-toolbar d-flex justify-content-end" role="toolbar">
                    <div class="btn-group" role="group">
                        @Html.PagedListPager((IPagedList)Model, page =>
                                 Url.Action("Index", new { page }), new
                                 PagedListRenderOptions
                        {
                            Display = PagedListDisplayMode.Always,
                            MaximumPageNumbersToDisplay = 5,
                            LiElementClasses = new String[] { "page-item" },
                            PageClasses = new String[] { "page-link" }
                        }
                                 )
                    </div>
                </div>
            </td>
        </tr>
    </tfoot>
</table>
