@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<TallerMotos.Application.DTO.ServiciosDTO>

@{
    ViewData["Title"] = "Servicios";
}

<h1>Servicios</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear</a>
</p>

<form method="get" action="@Url.Action("Index")" class="mb-3 d-flex">
    <input type="text" name="searchString" placeholder="Buscar por Nombre" class="form-control form-control-sm me-2" style="max-width: 200px;" />
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Tiempo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Cilindrada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="serviciosTableBody">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    ₡@Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tiempo) hora
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cilindrada)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "btn btn-success" }) |
                    <a asp-controller="Servicios" asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">Detalle</a> |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                <div class="btn-toolbar d-flex justify-content-end" role="toolbar">
                    <div class="btn-group" role="group">
                        @Html.PagedListPager((IPagedList)Model, page =>
                                 Url.Action("Index", new { page }), new
                                 PagedListRenderOptions
                        {
                            Display = PagedListDisplayMode.Always,
                            MaximumPageNumbersToDisplay = 5,
                            LiElementClasses = new String[] { "page-item" },
                            PageClasses = new String[] { "page-link" }
                        }
                                 )
                    </div>
                </div>
            </td>
        </tr>
    </tfoot>
</table>

<!-- Script jQuery para búsqueda -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#searchInput').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $('#serviciosTableBody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
