@model IEnumerable<TallerMotos.Application.DTO.DetalleFacturaDTO>

@{
    ViewData["Title"] = "Detalle";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factura</title>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .container {
        width: 80%;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
    }

    .footer {
        text-align: center;
        margin-bottom: 20px;
    }

    .header {
        display: flex margin-bottom: 20px;
    }

        .header h1 {
            text-align: center;
            display: flex
        }

        .header img {
            text-align: left;
            max-width: 250px;
            display: flex
        }

    .Enc {
        display: flex
    }

    .company-details, .customer-details {
        margin-bottom: 20px;
    }

        .company-details h2, .customer-details h2 {
            margin: 0 0 10px;
        }

    .details {
        width: 100%;
        margin-bottom: 20px;
        border-collapse: collapse;
    }

        .details th, .details td {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: left;
        }

        .details th {
            background-color: black;
        }

    .total {
        text-align: right;
        margin-top: 20px;
    }

        .total h3 {
            margin: 0;
        }
</style>



<div class="header">
    <img src="Imagenes/logo2SF.png" alt="Logo de la empresa" col=3>
    <h1 class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">Factura</h1>
</div>
<div class="Enc">
    @* factura encabezado *@
    <div class="company-details">
        <h2>Detalles de la Empresa</h2>
        <h4>Moto Servicio BEICHA</h4>
        <p>Sucursal:</p>
        <p>Teléfono: (506) 8859-9090</p>
        <p>Email: mtbeicha@gmail.com</p>
    </div>
    <div class="customer-details">
        <h2>Detalles del Cliente</h2>
        <p>Nombre del Cliente: </p>
        <p>Identificación:</p>
    </div>
</div>

<table class="details">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Impuesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Impuesto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="total">
    @Html.DisplayNameFor(model => model.IdfacturaNavigation.Total)
</div>
<div class="footer">
    <p>Gracias por su compra</p>
</div>

