@using System.Linq;

@model IEnumerable<TallerMotos.Application.DTO.DetalleFacturaDTO>

@{
    ViewData["Title"] = "Detalle";
    var ultDetalle = Model.LastOrDefault();
}

<title>Factura</title>

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .container {
        width: 80%;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
    }

    .footer {
        text-align: center;
        margin-bottom: 20px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin-bottom 20px;
    }

        .header h2 {
            margin-top: 20px;
            text-align: left;
            display: flex;
            width: 60%;
        }

        .header img {
            text-align: center;
            max-width: 250px;
            display: flex;
            width: 48%;
        }

    .Enc {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .company-details, .customer-details {
        margin-bottom: 20px;
        width: 48%;
    }

        .company-details h2, .customer-details h2 {
            margin: 0 0 10px;
            width: 48%;
        }

    .details {
        width: 100%;
        margin-bottom: 20px;
        border-collapse: collapse;
    }

        .details th, .details td {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: left;
        }

        .details th {
            background-color: black;
            color: white;
        }

    .total {
        text-align: right;
        margin-top: 20px;
    }

        .total h3 {
            margin: 0;
        }
</style>


<div class="header">
    <img src="~/imagenes/logo2SF.png" alt="Logo de la empresa">
    <h3 class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">Moto Servicio BEICHA <br />N° Factura: @ultDetalle?.IdfacturaNavigation.ID <br />Fecha: @ultDetalle?.IdfacturaNavigation.Fecha </h3>
</div>
<div class="Enc">
    @* factura encabezado *@
    <div class="company-details">
        <h4>Detalles de la Sucursal</h4>
        <p>Sucursal:@ultDetalle?.IdfacturaNavigation.IdsucursalNavigation.Nombre</p>
        <p>Teléfono: @ultDetalle?.IdfacturaNavigation.IdsucursalNavigation.Telefono </p>
        <p>Email: @ultDetalle?.IdfacturaNavigation.IdsucursalNavigation.Correo </p>
    </div>
    <div class="customer-details">
        <h4>Detalles del Cliente</h4>
        <p>Nombre del Cliente: @ultDetalle?.IdfacturaNavigation.IdusuarioNavigation.Nombre </p>
        <p>Identificación:  @ultDetalle?.IdfacturaNavigation.IdusuarioNavigation.Id </p>
    </div>
</div>

<table class="details">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Impuesto)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Total)
            </th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Impuesto)
                </td>
               @*  <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td> *@
            </tr>
        }
    </tbody>
</table>
<div class="total">
    <h4>SubTotal: @ultDetalle?.IdfacturaNavigation.SubTotal</h4>
    <h4>Impuesto: @ultDetalle?.IdfacturaNavigation.Impuesto</h4>
    <h3>Total: @ultDetalle?.IdfacturaNavigation.Total</h3>
</div>
<div class="footer">
    <p>Gracias por su compra</p>
</div>
