@model IEnumerable<TallerMotos.Application.DTO.ProductosDTO>
@{
    ViewData["Title"] = "Cátalogo de Productos";
}

<h1>Cátalogo de Productos</h1>
<section>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4" >
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card shadow-sm" style="height:290px">
                    @* <img class="card-img-top"
                style="max-height:460px;"
                role="img"
                src="data:image/jpeg;charset=utf-8;base64, @Convert.ToBase64String(item.Imagen)"
                alt="Imagen" /> *@
                    <div class="card-body">
                        <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Nombre)</h5>

                        <p>@Html.DisplayFor(modelItem => item.Descripcion)</p>
                        <p>Marca: @Html.DisplayFor(modelItem => item.Marca)</p>
                        <p>₡ @Html.DisplayFor(modelItem => item.Precio)</p>
                    </div>
                    <div class="card-body">
                        <a asp-action="Details"
                           asp-route-id="@item.ID"
                           class="btn btn-info">Detalle</a>
                    </div>
                </div>
            </div>
        }
    </div>
</section>